<div class="navbar navbar-default navbar-fixed-top">
    <div class="nav-body">
        <div class="navbar-header">
            <a routerLink="/"><img  src="/img/logo-user.png"></a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>



        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                    <li class="dropdown" dropdown dropdown-append-to-body>
                        <a id="btn-append-to-body"  class="dropdown-toggle" dropdownToggle>
                            <i class="fa fa-user"></i> 我的账户 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
                            <li role="menuitem"><a class="dropdown-item" routerLink="/user">账户余额</a></li>
                            <li role="menuitem"><a class="dropdown-item" routerLink="/user/account_info">账户信息</a></li>
                            <li role="menuitem"><a class="dropdown-item" routerLink="/user/rate">清算比例</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" routerLink="/user/request_withdraw">申请提现</a></li>
                            <li role="menuitem"><a class="dropdown-item" routerLink="/user/withdraw_log">提现记录</a></li>
                        </ul>
                    </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="order"><i class="fa fa-star"></i> 订单管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="order">
                        <li><a href="/epay">电子支付查询</a></li>
                        <li><a href="/card">卡类查询</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user"><i class="fa fa-user"></i> 商户管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="user">
                        <li><a href="/user">商户列表</a></li>
                        <li><a href="/auth">商户入驻审核</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="data"><i class="fa fa-pie-chart"></i> 运营数据 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="data">
                        <li><a href="/order">流水统计</a></li>
                        <li><a href="/order">毛利情况</a></li>
                        <li><a href="/order">业务成本</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="api"><i class="fa fa-plug"></i> 商户接口 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="api">
                        <li><a href="/doc">接口文档</a></li>
                        <li><a href="/epaysort">电子支付</a></li>
                        <li><a href="/cardsort">点卡支付</a></li>
                        <li><a href="/banksort">银行种类</a></li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right" style="padding-right: 50px">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="contact"><i class="fa fa-qq"></i> 联系我们 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="contact">
                        <li> <a><i class="fa fa-qq"></i> 876555555</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="manager"><i class="fa fa-user"></i> username <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="manager">
                        <li><a href="/changepwd">修改密码</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="signout()" href="/logout">退出登入</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>

<div style="margin-top: 100px">

    <div class="col-lg-2 col-md-2 hidden-xs">
        <div class="list-group">
            <a *ngFor="let m of menus" routerLink="{{m.url}}" [ngClass]="{active:isSelected(m.url)}" class="list-group-item" >
                {{m.text}}
            </a>
        </div>
    </div>
    <div class="col-md-10">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li class="active">{{text}}</li>
        </ul>
        <router-outlet></router-outlet>
    </div>

</div>
